* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dde6ed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 650px;
  height: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container {
  width: 650px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 5px;
}

.bg-dark {
  width: 650px;
  height: 130px;
  background-color: #bdcdd6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card {
  width: 650px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card .title {
  letter-spacing: 1px;
  font-size: 30px;
  opacity: 0.5;
  text-transform: capitalize;
  position: absolute;
  top: 95px;
}
.card .name {
  letter-spacing: 1px;
  font-size: 35px;
  opacity: 0.7;
  text-transform: capitalize;
  position: absolute;
  top: 150px;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: gray;
  padding: 3px;
  position: absolute;
  top: -75px;
  left: 250px;
}

.buttons {
  width: 100%;
  position: absolute;
  bottom: 95px;
  display: flex;
  justify-content: space-around;
}

.buttons .icon {
  background: transparent;
  border: none;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.buttons .icon:hover {
  color: #30a2ff;
}

.other-user {
  position: absolute;
  bottom: 40px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 135px;
  height: 35px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  background-color: #30a2ff;
  color: #fff;
  cursor: pointer;
}
.other-user:active {
  scale: 0.98;
}
